



.carro {
    background-color: blue;
}


.copyright {
    text-align: center;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: "Source Sans Pro";
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    /*color: #2f2f2f;*/
    /*background-color: ;*/
    color: dodgerblue;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #2C9AB7; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.secondary_header {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 1px;
    padding-bottom: 40px;
}
.footer {
    background-color: #717070;
}
.secondary_header {
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

.label{
    font:sans-serif;
    color: #2C9AB7;
}
